*{ 
    margin: 0px;
    padding: 0px;
}


.inter {
  font-family: "Inter", sans-serif;
}

.Noto{
    font-family: "Noto Serif", serif;
}

body{background-color: #F5F8FF;}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    margin: 0 auto;
}
.nav-container ul li {
    list-style: none;
}
.nav-container ul li a {
    text-decoration: none;
    color: #000;
}

.Home{
    color: #000;
    font-weight: bold;
    margin-right: 48px;
}

.Shop {
    margin-right: 48px;
    color: #8987A1;
    
} 
.about-us{
    margin-right: 48px;
    color: #8987A1;
}


.banner {
    display: flex;
    width: 1140px;
    height: 461px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.banner-container h2{
    font-size: 65px;
    font-weight: bold;
}
.banner-container p{

    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
}
.banner-title{
    color: #E95A08;
}

.newsletter {
    background-image: url(./assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 533px;
}

.subscription {
    text-align: center;
    padding: 199px 193px 305px;

}

.plants{
    width: 1140px;
    margin: 0 auto;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

.latest-deal{
    display: flex;
    gap: 60px;
    margin: 0 auto;
    width: 1140px;
}

.plants-title{
    text-align:center;
}
.plants-title h2{
    font-size: 50px;
    font-weight: bold;
    color: #000;
    margin-bottom: 16px;
}
.plants-title h2 span{
    color: #E95A08;
}
.plants-title p{
    font-size: 22px;
    font-weight: 400;
    margin: 0px 126px 49px 126px;
    color: #000;
    opacity: 50%;
}