*{ 
    margin: 0px;
    padding: 0px;
}


.inter {
  font-family: "Inter", sans-serif;
}

.Noto{
    font-family: "Noto Serif", serif;
}

body{background-color: #F5F8FF;}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    margin: 0 auto;
}
.nav-container ul li {
    list-style: none;
}
.nav-container ul li a {
    text-decoration: none;
    color: #000;
}

.Home{
    color: #000;
    font-weight: bold;
    margin-right: 48px;
}

.Shop {
    margin-right: 48px;
    color: #8987A1;
    
} 
.about-us{
    margin-right: 48px;
    color: #8987A1;
}


.banner {
    display: flex;
    width: 1140px;
    height: 461px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.banner-container h2{
    font-size: 65px;
    font-weight: bold;
}
.banner-container p{

    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
}
.banner-title{
    color: #E95A08;
}

.newsletter {
    background-image: url(./assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 533px;
}

.subscription {
    text-align: center;
    padding: 199px 193px 305px;

}

.plants{
    width: 1140px;
    margin: 0 auto;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}



.plants-title{
    text-align:center;
}
.plants-title h2{
    font-size: 50px;
    font-weight: bold;
    color: #000;
    margin-bottom: 16px;
}
.plants-title h2 span{
    color: #E95A08;
}
.plants-title p{
    font-size: 22px;
    font-weight: 400;
    margin: 0px 126px 49px 126px;
    color: #000;
    opacity: 50%;
}

.container{
    text-align: center;
    margin-bottom: 210px;

}
.box-1 h4{
    font-size: 22px;
    font-weight: 500;
    color: #111111;
    margin-bottom: 20px;
    margin-top: 30px;
}
.box-1 p{
    font-size: 22px;
    font-weight: bold;
    color: #111111;
    margin-bottom: 20px;
}

.box-1 button{
    background-color: #E95A08;
    color: #ffffff;
    border: none;
    padding: 26px 50px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
}
.box-1 button:hover{
    cursor: pointer;
}

.latest-deal{
    display: flex;
    gap: 60px;
    margin: 0 auto;
    width: 1140px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

.deal-container img{
    width: 100%;
    height: 85vh;
}

.deal-title {

    width: 540px;
    height: 521px;
    
}

.deal-title h2{
    font-size: 50px;
    font-weight: bold;

}
.deal-title ul li{
    margin-top: 20px;
    font-size: 22px;
    font-weight: 400;
    color: #000000;
    opacity: 50%;
}

.news-title{
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 23px;

}
.subscription input{
    padding: 8px 20px;
    width: 644px;
    height: 50px;
    border: none;
    
}
.subscription input:focus{
    outline: none;
}
.Subscribe-btn{

    width: 186px;
    padding:26px 50px;
    text-align: center;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #E95A08;
    
}

.footer{
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto;
    width: 1140px;
    padding-bottom: 50px;
}

.footer-link ul{
    display: flex;
    flex-wrap: wrap;
    width: 256px;
    height: 248px;
    gap: 50px;
    align-items: center;
   
}
.footer-logo p{
    width: 359px;
    height: 179px;
    font-size: 22px;
    font-weight: 400;
    color: #000;
    opacity: 50%;
    margin-top: 16px;
}

.social-link a{
    margin-left: 24px;
}

.footer-link ul li{
    list-style: none;
}
.footer-link ul li a {
    text-decoration: none;
    color: #000;
    font-family: inter;
    font-size: 16px;
    opacity: 50%;
}

@media screen and (max-width: 576px){

    .navbar{
        flex-direction: column;
    }
    .nav-container{
        display: none;
    }
    .banner{
        flex-direction: column;
    }
    .container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;

}
.latest-deal{
    flex-direction: column;
}
.footer{
    flex-direction: column;
}
}
